.gradient-custom {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

img{
    top: 139px;
    left: 1166px;
    width: 180px;
    height: 50px;
    opacity: 1;
}

.card-custom {
    background-color: #f8f9fa;
    width: 90%;
}

.pt {
    padding-top: 50px;
    padding-bottom: 60px;
}

.form-label {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.edit {
    float: right;
}

.edit p {
    margin-top: 10px;
}

.form-control {
    padding: 1.9rem .75rem;
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    width: 100%;
    min-width: unset;
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    font-size: 20px;
    padding-top: 24px;;
}

form a {
    color: grey;
    text-decoration: none;
    font-size: 0.87rem;
    font-weight: bold;
}

form a:hover {
    color: grey;
    text-decoration: none;
}

form .row {
    margin: 0;
    overflow: hidden;
}

form .row-1 {
    border: 1px solid rgba(0, 0, 0, 0.137);
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: rgba(221, 228, 236, 0.301);
    margin: 2vh 0;
    overflow: hidden;
}

form .row-2 {
    border: 3px solid rgba(0, 0, 0, 0.137);
    padding: 0.5rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    margin: 2vh 0;
    overflow: hidden;
}

.form-label1 {
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    margin-bottom: 0;
}

.btn {
    vertical-align: center;
    font-size: 24px;
    width: 100%;
    height: 55px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(45deg, #4163A1 20%, #082960 90%);
}

.card-custom1 {
    background-color: lightgray;
    height: 600px;
    margin: 30px;
    border-radius: 20px;
    margin-top: 90px;
}

.Company {
    margin-top: 280px;
}

.size {
    font-size: px;
    font-weight: 500;
    color: gray;
}

.middle-border{
    border: 3px dotted #000;
    border-style: none none dotted;
}
.overflow-card{
    width: 60%;
    margin-left: 80px;
    border-radius: 30px;
    position: absolute;
    top: 50px;
}
.date{
    font-size: 20px;
    font-weight: 700;
    padding-top: 8px;
}
.para{
    font-size: 20px;
    font-weight: 500;
    padding-top: 8px;
}
.edit p{
    font-size: 20px;
    color: #082960;
    cursor: pointer;
}
.top-border{
    width: 25%;
    border: 10px solid #082960;
    border-style: none none solid;
    padding-top: 25px;
}

/* .input-custom {
    background-color: white;
  }
  
  .white-text {
    color: hsl(52, 0%, 98%);
    font-weight: 200;
    font-size: 14px;
  }
  
  .back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black;
    margin-top: 50px;
  }
   */